body {
	font-family: Arial, sans-serif;
	margin: 0;
}


body a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
}


#header {
	position: absolute;
	margin-right: 30px;
    right: 0;
}


#navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	height: 30px
}

#navbar >li {
	display: inline-block;
	text-align: center;
	margin-left: 4%;
    line-height: 30px;
    height: 30px;
}

#app_icon {
	height: 30px;
	width: auto;
	opacity: 0.5;
}

#login_button {
	background-color: blue;
	padding-left: 12px;
	padding-right: 12px;
	background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
	color: white !important;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;

}

#login_button a {
	color: white !important;
}

#form-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 600px;
	padding-top: 200px;
	color: white !important;

}

#google_logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#search_box {
	background-color: white;
    border: 1px solid #eee;
    box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.2);
    font-size: 16px;
    height: 40px;
}

#search_bar  {
    display: block;
    top: 0;
    background-color: white;
    border: none;
    font-size: 16px;
    height: 30px;
    padding-left: 15px;
    width: 90%;
    margin-top: 5px;
    outline: none;
}

#search_buttons {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}


#search_in_google {
	margin-right: 20px;

}


#voice_icon {
	position: absolute;
	width: 24px;
	height: 24px;
	bottom: 65px;
    right: 19px;
}

.buttons_styling {
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    font-size: 0.8em;
  	font-weight: bold;
 	padding: 10px 16px;
 	color: #747474;
}

.margin-auto {
	margin-left: auto;
	margin-right: auto;
}


#bottom_container {
	background-color: #F1F1F2;
	position: absolute;
	bottom: 0;
	height: 78px;
	width: 100%;
}

#upper_bar {
	border-top: 0.5px solid #E3E3E3;
	border-bottom: 0.5px solid #E3E3E3;
	height: 50%;
	padding-left: 19px;
	color: #707070;
	font-size: 15px;
}

#bottom_bar {
	height: 37px;
	width: 50%%;
}

#bottom_bar a {
	font-size: 13px !important;
	color: rgb(99, 88, 93) !important;
}

#left_panel {
	position: absolute;
	left: 0;
	bottom: : 0;
	margin-bottom: 0;
	height: 37px;
	width: 400px;
}

#left_bottom_links {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 37px;
	display: inline-block;
	line-height: 37px;
	justify-content: center;
	align-items: center;
	text-align: left;
	flex-direction: row-reverse;
	width: 260px;
	margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 19px;

}

#left_bottom_links >li {
	display: inline-block;
	text-align: center;
	margin-right: 4%;
    margin-bottom: 0px;
    margin-top: 0px;

}


#right_panel {
	position: absolute;
	right: 0;
	bottom: : 0;
	margin-bottom: 0;
	height: 37px;
	width: 400px;
}

#right_bottom_links {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 37px;
	display: inline-block;
	line-height: 37px;
	justify-content: center;
	align-items: center;
	text-align: right;
	flex-direction: row;
	width: 300px;
	margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 19px;
    padding-left: 0px;
}


#right_bottom_links >li {
	display: inline-block;
	text-align: center;
	margin-left: 4%;
	margin-bottom: 0px;
    margin-top: 0px;
}