body {
	margin: 0;
}


#header {
	position: absolute;
	margin-right: 30px;
    right: 0;
}


#navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
}

#navbar >li {
	display: inline-block;
	text-align: center;
	margin-left: 4%;

}

#app_icon {
	width: 32px;
	height: auto;
	opacity: 0.5;
}


#form-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 600px;
	padding-top: 200px;
}

#google_logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#search_bar  {
	background-color: white;
  	border: 1px solid #eee;
  	box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.2);
	font-size: 16px;
	height: 40px;
	padding-left: 15px;
	width: 100%;
	margin-top: 3%;
}

#search_buttons {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}


#search_in_google{
	margin-right: 20px;
}

.margin-auto {
	margin-left: auto;
	margin-right: auto;
}


#bottom_container {
	background-color: #F1F1F2;
	position: absolute;
	bottom: 0;
	height: 74px;
	width: 100%;
}

#upper_bar {
	border-top: 0.5px solid #E3E3E3;
	border-bottom: 0.5px solid #E3E3E3;
	height: 50%;
	padding-left: 30px;

}

#bottom_bar {
	height: 37px;
	width: 50%%;
}


#left_panel {
	position: absolute;
	left: 0;
	bottom: : 0;
	margin-bottom: 0;
	height: 37px;
	width: 400px;
}

#left_bottom_links {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	width: 260px;
	margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 19px;

}

#left_bottom_links >li {
	display: inline-block;
	text-align: center;
	margin-left: 4%;
    margin-bottom: 0px;
    margin-top: 0px;

}


#right_panel {
	position: absolute;
	right: 0;
	bottom: : 0;
	margin-bottom: 0;
	height: 37px;
	width: 400px;
}

#right_bottom_links {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 400px;
	margin-bottom: 0px;
    margin-top: 0px;
}


#right_bottom_links >li {
	display: inline-block;
	text-align: center;
	margin-left: 4%;
	margin-bottom: 0px;
    margin-top: 0px;
}